= yield

| #{t 'regards'},
| #{site_name} #{t 'team'}



=t 'dont_answer_this_message'
| #{t 'contact_us'}:
= Setting.find_by_name('email-contact').description
= Setting.find_by_name('phone').description